html, body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
  65deg,
  hsl(202deg 100% 36%) 0%,
  hsl(201deg 100% 38%) 5%,
  hsl(200deg 100% 40%) 12%,
  hsl(199deg 100% 41%) 19%,
  hsl(197deg 100% 43%) 28%,
  hsl(196deg 100% 44%) 37%,
  hsl(195deg 100% 46%) 47%,
  hsl(194deg 100% 47%) 58%,
  hsl(193deg 100% 49%) 72%,
  hsl(192deg 100% 50%) 100%
);
}
