html, body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    width: 100%;
    height: 100%;
    /* You can play with https://www.joshwcomeau.com/gradient-generator/ to generate this */
    background-image: linear-gradient(
      65deg,
      hsl(202deg 100% 36%) 0%,
      hsl(197deg 100% 44%) 32%,
      hsl(192deg 100% 50%) 100%
    );
}
