#taisteal-sidebar {
    max-width: min(94%, 500px);
    min-width: 200px;
    max-height: 94%;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow-x: hidden;
    min-height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end; 
    overflow-x: hidden;
    overflow-y: auto;
}

.taisteal-sidebar-panel {
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    /*box-shadow: 0 0 5px 5px rgb(255 255 255 / 0.08);*/
    border-color: #000;
    border-width: 1px;
    overflow-x: auto;
    overflow-y: hidden;
    /* Prevent user selections, because they happen by accident when you
     * interact with the globe. */
    user-select: none;

    background-color: #dfdde5;
    color: #333;
}

.taisteal-sidebar-button {
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.taisteal-sidebar-icon {
    display: inline;
    font-size: 1.2em;
    stroke-width: 0.1;
}
