#taisteal-sidebar {
    max-width: min(90%, 500px);
    min-width: 200px;
    max-height: 100%;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    padding: 5%;
    overflow-x: hidden;
    min-height: 20%;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end; 
    overflow-x: hidden;
    overflow-y: auto;
}

.taisteal-sidebar-panel {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 15px;
    color: #000000;
    margin: 10px;
    width: 100%;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 0.15);
    overflow-x: auto;
}

.taisteal-sidebar-button {
    height: 40px;
    width: 40px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
